@import '../../../scss/main.scss';

footer{
    background: var(--green);
    padding: 40px 0;
    color: white;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 22px;
    @media (max-width:1060px) {
        grid-template-columns: repeat(3,1fr);
    }
    @media (max-width:768px) {
        grid-template-columns: repeat(2,1fr);
    }
    @media (max-width:576px) {
        grid-template-columns: repeat(1,1fr);
        text-align: center;
    }
    .footer-item{
        border-top: 1px solid white;
        h4{
            font-size: 18px;
            font-weight: 400;
            margin: 12px 0;
        }
        a{
            display: block;
            font-size: 14px;
            font-weight: 500;
            margin: 10px 0;
            color: white;
        }
    }
}