@import "../../../scss/main.scss";


.journal{
    padding:30px 0 60px;
    position: relative;
}

.journal-title {
  h2 {
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 18px;
  }
}
.slider-item {
  width: 432px;
  box-sizing: border-box;
  padding: 0 5px;
  .slider-img {
    img {
      width: 412px;
      height: 550px;
      border-radius: 12px;
      display: block;
      object-fit: cover;
    }
  }
  .slider-text{
    p{
        font-size: 13px;
        font-weight: 400;
        margin: 13px 0 5px;
    }
    h2{
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 8px;
    }
    a{
        text-decoration: underline;
        font-size: 14px;
        font-weight: 400;
    }
  }
}
.left-arrow{
    position: absolute;
    top: -50px;
    right: 100px;
    z-index: 9999;
    cursor: pointer;
    
}
.right-arrow{
    position: absolute;
    top: -50px;
    right: 30px;
    cursor: pointer;
    
}